# .ebextensions/https-redirect.config
files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name backend.catdogeats.shop;

          # Only redirect HTTP to HTTPS
          if ($http_x_forwarded_proto != "https") {
              return 301 https://$host$request_uri;
          }

          # fallback (optional)
          location / {
              return 301 https://$host$request_uri;
          }
      }
